<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel = "stylesheet" type = "text/css" href = "estilos.css" />
    <title>Alumnos desafio entregado</title>
</head>
<body>
  <section>
    <h1> <b>Alumnos que enviaron el POST </b></h1>

    <ul >
        {% for item in datos.Nombres  %}
      <li>{{item}}</li>
        {% endfor %}
    </ul> 



  </section>



  <div class="con-amor">
    Made with <i>♥</i> for <a target="_blank" href="https://penguin.academy">Penguins</a>
  </div>

</body>